.title {
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #888888;
  text-align: center;
}
 
#testResults {
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #888888;
}

.addNewButton {
  text-align: center;
}

.pendingResponse {
  background-image: url(/images/rolling.gif);
  background-repeat: no-repeat;
  background-position: center;
}